* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  line-height: 1.6;
  min-height: 100vh;
  background-color: $base-color;
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

// Responsive breakpoints
$tablet: 1024px;
$mobile: 768px;
