.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  max-width: 1920px;
  transition: grid-template-columns var(--transition-speed);
  -webkit-transition: grid-template-columns var(--transition-speed);
  -moz-transition: grid-template-columns var(--transition-speed);
  -ms-transition: grid-template-columns var(--transition-speed);
  -o-transition: grid-template-columns var(--transition-speed);
}

.team-separator {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--text-color);
}

.search-input {
  border: none;
  background: transparent;
  padding: 12px 10px;
  font-size: 14px;
  width: 100%;
  outline: none;
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
}

// Main Content Styles
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  padding: 25px;
  background-color: var(--bg-light);
  flex: 1;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 24px;
  margin-bottom: 24px;
}



.saving-plan-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plan-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 8px;
}
