

.team-separator {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-input {
  border: none;
  background: transparent;
  padding: 12px 10px;
  font-size: 14px;
  width: 100%;
  outline: none;
}



// Main Content Styles
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  padding: 25px;
  background-color: var(--bg-light);
  flex: 1;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 24px;
  margin-bottom: 24px;
}



.saving-plan-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plan-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 8px;
}
