// Import partials (should be at the top)
@import "variables";
@import "base";
@import "sidebar";
@import "components";
@import "search";
@import "overview";
@import "_analytics";
@import "profile";
@import "savingPlan";
@import "recentTxns";
@import "animations";

// Corrected @font-face declarations
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
